<h1>Expenses#index</h1>
  <%= link_to "Register New Expense", new_expense_path, class:"btn btn-primary" %>

<%# @monthly_expenses.each do |monthly| %>
  <h2>
    <li><%#= link_to monthly, "#" %></li>
  </h2>
<%# end %>





<div class="container">
  <h2>月間総支出</h2>
<%= column_chart Expense.group_by_month(:date).sum(:amount) %>

<h2>項目別支出</h2>
<%= line_chart Expense.group(:category).group_by_month(:date).sum(:amount) %>

<%= pie_chart Expense.group(:category).sum(:amount) %>


</div>

<div class="container">
<%=form_tag import_expenses_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "import" %>
<% end %>
</div>

<div class="container">


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Category</th>
      <th>Amount</th>
      <th>Date</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody class="center table>
    <% @expenses.each do |expense| %>
      <tr style="word-wrap:break-word;">
        <td><%= expense.category %></td>
        <td><%= expense.amount %></td>
        <td><%= expense.date %></td>
        <td><%= link_to "delete", "/expenses/#{expense.id}", method: :delete, data: {confirm: "Are you sure to delete?"}, class:"btn btn-primary" %>
      </tr>
    <% end %>
  </tbody>



<%= will_paginate %>
