<h1>Expenses#index</h1>
  <%= link_to "Register New Expense", new_expense_path, class:"btn btn-primary" %>


<div class="container">
<%= column_chart Expense.group(:category).group_by_month(:date).sum(:amount) %>

<%= line_chart Expense.group(:category).group_by_month(:date).sum(:amount) %>

<%= bar_chart Expense.group(:category).group_by_month(:date).sum(:amount) %>


</div>

<div class="container">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Category</th>
      <th>Amount</th>
      <th>Date</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody class="center table>
    <% @expenses.each do |income| %>
      <tr style="word-wrap:break-word;">
        <td><%= income.category %></td>
        <td><%= income.amount %></td>
        <td><%= income.date %></td>
      </tr>
    <% end %>
  </tbody>
  </div>
